<div class="container-fluid dashboard">
  <div class="row">
    <div class="col-md-2 sidebar">
      <%= render "application/sidebar" %>
    </div>
    
    <div class="col-md-10 main">
      <h1>Add Journey</h1>
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-body">

              <% if @journey_entry.errors.any? %>
                <ul>
                  <% @journey_entry.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                  <% end %>
                </ul>
              <% end %>

              <%= form_for @journey_entry, url: { action: "create" } do |f| %>

                <div class="form-group">
                  <%= f.label :start_postcode %>
                  <%= f.text_field :start_postcode, :class => "form-control", :placeholder => "Start Postcode" %>
                </div>

                <div class="form-group">
                  <%= f.label :end_postcode %>
                  <%= f.text_field :end_postcode, :class => "form-control", :placeholder => "End Postcode" %>
                </div>

                <div class="form-group">
                  <%= f.label :journey_date %>
                  <%= f.text_field :journey_date, :class => "form-control datepicker", :placeholder => "Journey Date" %>
                </div>

                <div class="form-group">
                  <%= f.label :transport %>
                  <%= f.select :transport_id, Transport.order("name").map { |s| [s.name, s.id] }, :class => "form-control" %>
                </div>
                <%= f.submit "Add Journey", :class => "btn btn-success"%>
              <% end %>

            </div>
          </div>
        </div>
      </div> <!-- eo:row -->
    </div>
  </div>
</div>
